apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
- name: kube-prometheus-stack
  includeCRDs: true
  version: 19.2.2
  repo: 'https://prometheus-community.github.io/helm-charts'
  namespace: prometheus
  releaseName: kube-prometheus-stack
