on: 
  push:
    branches:
      - main
    paths: 
      - argocd/**
      - .github/workflows/argocd.yml
    
name: argoDeploy
jobs:
  deploy:
    name: deploy to cluster
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: unfor19/install-aws-cli-action@v1
      with:
        version: 1
    - run: sed -i  's/<user>/'"${{ secrets.CHARTMUSEUM_USER }}"'/g' argocd/chartmuseum.yaml
    - run: sed -i  's/<pass>/'"${{ secrets.CHARTMUSEUM_PASS }}"'/g' argocd/chartmuseum.yaml
    - run: |
        curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
        sudo install -o root -g root -m 0755 kubectl /usr/local/bin/kubectl
        echo  "${{ secrets.KUBE_CONFIG_DATA }}" | base64 --decode > /tmp/config
        export KUBECONFIG=/tmp/config
        kubectl apply -f argocd
      env:
        KUBECTL_VERSION: "1.21"
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_REGION: 'eu-west-1'

